{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{{ news_list|length }}
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
    <hr>
    {% if news_list %}
    <table>
        <thead>
            <th>
               Тема
            </th>
            <th>
                Дата публикации
            </th>
            <th>
                Текст статьи
            </th>
            <th>
                Автор статьи
            </th>
        </thead>
    {% for news in news_list %}
        <tr>
            <td>
                <a href="{% url 'news' news.id %}">{{ news.header }}</a>
                <a href="{% url 'add' %}"><u>Добавить</u></a>
                <a href="{% url 'edit' news.id %}"><u>Редактировать</u></a>
                <a href="{% url 'delete' news.id %}"><u> Удалить </u></a>
                </td>
                <td>
                {{ news.header|censor }}
            </td>
            <td>
                {{ news.pub_date|date:'d.m.Y' }}
            </td>
            <td>
                {{ news.text|truncatechars:50|censor }}
            </td>
            <td>
                {{ news.author }}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% else %}
    <h2>Новостей нет...</h2>
{% endif %}
<br>
<div>
    {% if is_not_authors %}
<button> <a class="btn btn-outline-success" href="sign/upgrade/"> Стать автором!</a> </button>
{% endif %}
<button> <a class="btn btn-outline-danger" href="sign/logout/">Выйти</a> </button>
</div>
{% endblock content %}