{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{{ news_list }}
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>

    <hr>
    {% if news_list %}

    <table>
        <tr>
            <td>
                <b>Заголовок</b>
            </td>
            <td>
                <b>Дата публикации</b>
            </td>
            <td>
               <b>Новость</b>
            </td>
        </tr>
    {% for news in news_list %}
        <tr>
            <td>
                {{ news.header|censor }}
            </td>
            <td>
                {{ news.pub_date|date:'d.m.Y' }}
            </td>
            <td>
                {{ news.text|truncatechars:50|censor }}
            </td>
        </tr>
    {% endfor %}
    </table>

{% else %}
    <h2>Новостей нет!</h2>
{% endif %}
{% endblock content %}