{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Django flatpages — {% block title %} {% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="css/full-width-pics.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">NewsPaper</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/about/"
                >About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info/">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles/">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news/">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/messages/">Dialogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts/">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/downloads/">Downloads</a>
            </li>
            {% load account %}
            {% if user.is_authenticated %}
            <li><div class="nav-link py-3 px-0 px-lg-3 rounded">{% user_display user %}</div></li>
            <li><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'account_logout' %}">Sign Out</a></li>
            {% comment %} {% if is_not_authors %}<li>
             <a class="btn btn-success" href="sign/upgrade/"> Стать автором!</a>
             </li>  {% endif %}{% endcomment %}
            {% else %}
            <li><a class="btn btn-outline-primary btn-sm nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'account_login' %}">Sign In</a></li>
            <li><a class="btn btn-primary btn-sm nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header
      class="py-5 bg-image-full"
      style="background-image: url('https://unsplash.it/1900/1080?image=1076')"
    >
      <img
        class="img-fluid d-block mx-auto"
        src="http://placehold.it/200x200&text=Logo"
        alt=""
      />
    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        {% block content %} {{ flatpage.content }} {% endblock content %}
      </div>
    </section>

    <!-- Image element - set the background image for the header in the line below -->
    <div
      class="py-5 bg-image-full"
      style="background-image: url('https://unsplash.it/1900/1080?image=1081')"
    >
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px"></div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
